<div class="site-content">

    <div class="gh-outer">
        <div class="gh-inner members-only-cta">
            <h2>This site is for members only.</h2>
            <form data-members-form="signin">
                <input data-members-email type="email" required="true"/>
                <button type="submit">Sign in</button>
                <p data-members-error></p>
            </form>
        </div>
    </div>

</div>