<div class="site-content">

    <div class="signin-cta">
        <h2>This site is for members only.</h2>
        <form data-members-form="signin">
            <input data-members-email type="email" required="true"/>
            <button type="submit">Sign in</button>
        </form>
    </div>

</div>