<div class="splash" style="background:url({{@site.cover_image}})">

    <div class="gh-outer">
        <div class="gh-inner members-only-cta">
            <h1>{{@site.title}}</h1>
            <h2>This site is for members only. Sign in here</h2>
            <form data-members-form="signin">
                <input data-members-email type="email" required="true"/>
                <button type="submit">Sign in</button>
                <p data-members-error></p>
            </form>
        </div>
    </div>

</div>