.error p {
    color: red
}

.success input, .success button {
    display: none;
}

.success p {
    color: green;
}

.success p::after {
    content: "Yay! We've sent a login link to your email inbox :)"
}

.loading input, .loading button {
    display: none
}

.loading p {
    color: grey
}

.loading p::after {
    content: "Working on it..."
}