.success input, .success button {
    display: none;
}

.success p[data-members-error] {
    background-color: green;
}

.success p::after {
    content: "Yay! We've sent a login link to your email inbox :)"
}

.loading input, .loading button {
    display: none
}

.loading p[data-members-error] {
    background-color: grey
}

.loading p::after {
    content: "Working on it..."
}